<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FletNix</title>

    <!-- Reset browser css -->
    <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/privacy.css">
</head>

<body>

    <header>
        <ul id="navList">
            <li>
                <img id="hamburger" src="img/hamburger.png" width="40" alt="menu" tabindex="-1">
                <div id="menu" tabindex="-1">

                    <nav>
                        
                        <ul>
                            <li>
                                <a href="index.html" tabindex="-1">Home</a>
                            </li>
                            <li>
                                <a href="register.html" tabindex="-1">Register</a>
                            </li>
                            <li>
                                <a href="about.html" tabindex="-1">About</a>
                            </li>
                            <li>
                                <a href="privacy.html" tabindex="-1">Privacy</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="cancelMenu" tabindex="-1"></div>
            </li>
            <li>
                <img src="img/logo.png" width="170" alt="flatnix">
            </li>
            <li>
                <div id="search">
                    <img src="img/search.png" width="32" alt="search" tabindex="-1">
                    <div id="searchBox" tabindex="-1">
                        <input type="text" id="searchBar" placeholder="Search" tabindex="1">

                        <label for="genre" id="genreTitle">Filter genres</label>
                        <input style="display:none" id="genre">
                        <div class="searchBox-group">
                            <input id="romance" type="checkbox" name="Romance" tabindex="1">
                            <label for="romance" class="searchBox-group-label">Romance</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="police" id="police" tabindex="1">
                            <label for="police" class="searchBox-group-label">Police</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="war" id="war" tabindex="1">
                            <label for="war" class="searchBox-group-label">War</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="zombie" id="zombie" tabindex="1">
                            <label for="zombie" class="searchBox-group-label">Zombie</label>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <article>
            <h1>About</h1>
            <p>The owners of Flatnix take all responsibilities for this website. If you experience any issues, you can fill in <a href="#">this form</a>. <br>
                When this form is submitted, our administration will check if all fields are filled in correctly. Once the submitted form reaches our development team, 
                the team will solve your issue. After the issue is solved, you will receive an email with a ticket number about what changes have been made. If you still experience any issues and the same problem still remains, you can contact our administration with your ticket no. given in the email.
            </p>
        </article>
    </main>
</body>

</html>