<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FletNix</title>

    <!-- Reset browser css -->
    <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/register.css">
</head>

<body>

    <header>
        <ul id="navList">
            <li>
                <img id="hamburger" src="img/hamburger.png" width="40" alt="menu" tabindex="-1">
                <div id="menu" tabindex="-1">
                    
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html" tabindex="-1">Home</a>
                            </li>
                            <li>
                                <a href="register.html" tabindex="-1">Register</a>
                            </li>
                            <li>
                                <a href="about.html" tabindex="-1">About</a>
                            </li>
                            <li>
                                <a href="privacy.html" tabindex="-1">Privacy</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="cancelMenu" tabindex="-1"></div>
            </li>
            <li>
                <img src="img/logo.png" width="170" alt="flatnix">
            </li>
            <li>

                <div id="search">
                    <img src="img/search.png" width="32" alt="search" tabindex="-1">
                    <div id="searchBox" tabindex="-1">
                        <input type="text" id="searchBar" placeholder="Search" tabindex="1">

                        <label for="genre" id="genreTitle">Filter genres</label>
                        <input style="display:none" id="genre">
                        <div class="searchBox-group">
                            <input id="romance" type="checkbox" name="Romance" tabindex="1">
                            <label for="romance" class="searchBox-group-label">Romance</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="police" id="police" tabindex="1">
                            <label for="police" class="searchBox-group-label">Police</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="war" id="war" tabindex="1">
                            <label for="war" class="searchBox-group-label">War</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="zombie" id="zombie" tabindex="1">
                            <label for="zombie" class="searchBox-group-label">Zombie</label>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </header>

    <main>
        <form action="createUser.php" method="POST">
            <input class="formInput" placeholder="Name" required name="name" type="text">
            <input class="formInput" placeholder="Surname" required name="surname" type="text">
            <input class="formInput" placeholder="Country" required name="country" type="text">
            <input class="formInput" placeholder="Year of birth" required name="birthyear" type="text">
            <input class="formInput" placeholder="Bank account S.No" required name="iban" type="text">
            <input class="formInput" placeholder="Username" name="username" required type="text">
            <input class="formInput" placeholder="Password" name="password" required type="password">
            <input class="formInput" placeholder="Confirm password" name="confirmPassword" required type="password">

            <select class="formInput" name="subscription" required>
                <option value="">sub1</option>
                <option value="">sub2</option>
                <option value="">sub3</option>
            </select>
            <small>
                <a href="subscription.html" target="_blank">See the contents</a>
                of all subscriptions
            </small>

            <label for="agreement">You consent to our <a href="privacy.html">privacy policy</a> </label>
            <input class="formInput" name="agreement" id="agreement" required type="checkbox">
            <input class="btn" name="submit" type="submit">
        </form>
    </main>
</body>

</html>