<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FletNix</title>

    <!-- Reset browser css -->
    <link rel="stylesheet" href="../css/reset.css">

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <ul id="navList">
            <li>
                <img id="hamburger" src="../img/hamburger.png" width="40" alt="menu" tabindex="-1">
                <div id="menu" tabindex="-1">
                    <nav>
                        <ul>
                            <li>
                                <a href="../index.html" tabindex="-1">Home</a>
                            </li>
                            <li>
                                <a href="../register.html" tabindex="-1">Register</a>
                            </li>
                            <li>
                                <a href="../about.html" tabindex="-1">About</a>
                            </li>
                            <li>
                                <a href="../privacy.html" tabindex="-1">Privacy</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="cancelMenu" tabindex="-1"></div>
            </li>
            <li>
                <img src="../img/logo.png" width="170" alt="flatnix">
            </li>
            <li>

                <div id="search">
                    <img src="../img/search.png" width="32" alt="search" tabindex="-1">
                    <div id="searchBox" tabindex="-1">
                        <input type="text" id="searchBar" placeholder="Search" tabindex="1">

                        <label for="genre" id="genreTitle">Filter genres</label>
                        <input style="display:none" id="genre">
                        <div class="searchBox-group">
                            <input id="romance" type="checkbox" name="Romance" tabindex="1">
                            <label for="romance" class="searchBox-group-label">Romance</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="police" id="police" tabindex="1">
                            <label for="police" class="searchBox-group-label">Police</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="war" id="war" tabindex="1">
                            <label for="war" class="searchBox-group-label">War</label>
                        </div>

                        <div class="searchBox-group">
                            <input type="checkbox" name="zombie" id="zombie" tabindex="1">
                            <label for="zombie" class="searchBox-group-label">Zombie</label>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <article>
            <img src="../img/movie.jpg" alt="movie_cover">
            <a href="#">
                <img src="./img/button.png" alt="playbutton">
            </a>
        </article>
        <article>
            <h2 id="title">NO TIME TO DIE</h2>
            <p>1h 53m</p>
            <h2>Actors:</h2>
            <ul>
                <li>Daniel Craig</li>
            </ul>
            <h2>Directors:</h2> 
            <ul>
                <li>Cary Fukunaga</li>
            </ul>
        </article>
        <article>
            <h1>In short</h1>
            <p>James Bond is enjoying a tranquil life in Jamaica after leaving active service. However, his peace is short-lived as his old CIA friend, Felix Leiter, shows up and asks for help. The mission to rescue a kidnapped scientist turns out to be far more treacherous than expected, leading Bond on the trail of a mysterious villain who's armed with a dangerous new technology.</p>
        </article>
        <article>
            <div>
                <h3>User123 Test</h3>
                <small>6 years active on this platform</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ut obcaecati molestias, in iure vel, magnam, eum magni quod pariatur voluptate cum nostrum non fugit vitae deleniti corrupti delectus repellendus?</p>
            </div>
            <div>
                <h3>User123</h3>
                <small>6 years active on this platform</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ut obcaecati molestias, in iure vel, magnam, eum magni quod pariatur voluptate cum nostrum non fugit vitae deleniti corrupti delectus repellendus?</p>
            </div>
            <div>
                <h3>User123</h3>
                <small>6 years active on this platform</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ut obcaecati molestias, in iure vel, magnam, eum magni quod pariatur voluptate cum nostrum non fugit vitae deleniti corrupti delectus repellendus?</p>
            </div>
            <div>
                <h3>User123</h3>
                <small>6 years active on this platform</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ut obcaecati molestias, in iure vel, magnam, eum magni quod pariatur voluptate cum nostrum non fugit vitae deleniti corrupti delectus repellendus?</p>
            </div>
        </article>
    </main>
</body>

</html>