form {
    overflow: hidden;
    margin: auto;
    display: inline-block;
    min-width: 30%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.formInput {
    font-weight: bold;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #dddddd;
    color: #748194;
    font-size: 14px;
    clear: both;
    margin: 10px 0;
    float: left;
    width: calc(100% - 30px);
}

select[class=formInput] {
    height: 47px;
    width: 100%;
}

.btn {
   font-weight: bold;
   height: 45px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #bb1111;
   color: white;
   font-size: 14px;
   width: 100%;
}

label[for=agreement] {
    font-family: arial;
}

/* label[for=agreement] > a */

input[name=agreement] {
    margin: 0 5px 0 0;
    width: 1em;
    height: 1em;
}

input[name=agreement], label[for=agreement] {
    margin-bottom: 20px;
}

small {
    float: left;
    width: 100%;
    font-family: arial;
    margin: 0 0 10px 0;
}